html {
    scroll-behavior: smooth;
}

// Links
.link-default {
    @apply text-sm font-bold  text-black transition duration-500 transform cursor-pointer;

    a {
        @apply block p-3;
    }

    &:hover {
        @apply text-primary-light -translate-y-1;
    }
}

// Body

.preload * {
    transition: none !important;
    -webkit-transition: none !important; // or transition:all 0s linear; (with prefixes)
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

// Buttons

.btn {
    @apply text-white bg-primary text-sm font-bold transition duration-500 transform cursor-pointer;

    
    &:hover {
        @apply bg-primary-light -translate-y-1;
    }

    &:active {
        @apply bg-secondary duration-75 ;
    }

    &-nohover {
        &:hover {
            @apply bg-primary-light translate-y-0 #{!important};
        } 
    }
}

.btn-small {
    @apply p-3;
}

.btn-large {
    @apply py-4 px-8;
}

// Icons

.icon {
    @apply transform transition duration-500 cursor-pointer;

    &:hover {
        @apply text-primary-light -translate-y-1;
    }

    &-dark {
        @apply text-black
    }

    &-light {
        @apply text-white
    }
}

// Images

.contained-image {
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
    width: 320px; // or width: auto;
    height: 320px;
    box-shadow: 0 0 0 1px transparent;
    
    &:hover {
        box-shadow: 0 0 0 3px #FF6060;
    }

    @screen sm {
        width: auto;
        max-width: calc(50% - 20px);
    }

    @screen lg {
        max-width: calc(33.3333% - 20px);
    }
}

// Top Header 
.navigation {
    z-index: 1000;
    pointer-events: none;
    visibility: hidden;
    
    &-modal {
        z-index: inherit;
        transition: all .5s ease-in;
        @apply bg-black opacity-0 fixed top-0 left-0 h-screen w-full;
    }
    
    &-section {
        z-index: inherit;
        right: -100%;
        transition: all .5s ease-in;
        @apply fixed top-0 bottom-0 w-1/2 bg-white text-center pt-16;
    }

    &.active {
        pointer-events: auto;
        visibility: visible;
        
        @screen md {
            @apply hidden;
        }

        .navigation-modal {
            @apply opacity-25;
        }

        .navigation-section {
            right: 0;
        }
    }
}

// Sticky Header
.header {
    z-index: 600;
    position: fixed;
    left: 0;
    right: 0;
    transition: all .5s ease-in;
    pointer-events: none;
    top: -30%;
    @apply bg-white w-full;
    
    &.active {
        pointer-events: auto !important;
        top: 0;
        @apply bg-grey-light;
    }
}
// Home Page
// Banner
.banner {
    &:before {
        content: "";
        @apply absolute left-0 top-0 w-full h-full block bg-black opacity-50;
    }
}

.banner-arrow {
    animation: up-and-down 0.7s infinite forwards linear;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0px);
    }
    
    35% {
        transform: translateY(-4px);
    }

    75% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0px);
    }
}

// Headings

.heading {
    @apply mb-8 p-0 font-courgette text-4xl relative;

    &:before {
        content: " ";
        @apply absolute bottom-0 transform translate-y-4 w-44 h-1 bg-primary;
    }

    &-line-center {
        &:before {
            @apply left-1/2 -translate-x-1/2;
        }
    } 

    &-line-left {
        &:before {
            @apply left-1/2 -translate-x-1/2;
        }

        @screen md {
            &:before {
                @apply left-0 translate-x-0;
            }
        }
    }

    &-medium {
        @screen md {
            @apply text-5xl;
        }
    }

    &-large {
        @screen md {
            @apply text-6xl;
        }
    }
}

// Services

.services-card {
    @apply flex text-center;

    @screen md {
        @apply text-left
    }
    
    &-image {
        @screen md {
            @apply w-1/2;
        }
    }

    &-info {
        @screen md {
            @apply w-1/2 pl-8;
        }
    }

    &:nth-child(even) &-info { 
        @screen md {
            @apply order-1 pl-2;
        }
    }

    &:nth-child(even) &-image { 
        @screen md {
            @apply order-2;
        }
    }
}

// Flower Container {

.flower-container {
    position: relative;
    overflow: hidden;

    .flower1, .flower2, .flower3, .flower4 {
        display: none;
    }

    @screen lg {
        .flower1, .flower2, .flower3, .flower4 {
            display: block;
        }
    }
}

.flower1 {
    top: -100px;
    left: -100px;
    @apply block absolute;
}

.flower2 {
    left: -240px;
    top: 60%;
    transform: translateY(-40%);
    @apply block absolute;
}

.flower3 {
    right: -180px;
    top: 40%;
    transform: translateY(-60%);
    @apply block absolute;
}

.flower4 {
    bottom: -100px;
    right: -100px;
    @apply block absolute;
}

// Newsletter

.newsletter {
    @apply relative;
    &:before {
        content: " ";
        @apply absolute left-0 top-0 w-full h-full block bg-black opacity-50;
    }
}

.close-section {
    margin-top: 1rem;
    padding: 1rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}

// Footer

.footer {
    .fa-caret-right {
        @apply text-black-light;
        &:before {
            @apply hidden;

            @screen lg {
                @apply inline-block mr-3;
            }
        }
    }

    .link {
        @apply transition duration-200;
        
        &:hover {
            @apply text-black-light
        }
    }

    &-list {
        li {
            @screen lg{
                &:not(:last-child) {
                    @apply mb-3;
                }
            }
        }
    }
}

// Services Page

.services-pattern {
    &:before {
        content: "";
        @apply absolute top-0 left-0 w-full h-full block bg-black opacity-50; 
    }
}

// FAQ 

.question {
    @apply bg-grey-light;
    &:nth-child(even) {
        @apply bg-grey-dark;
    }

    .answer {
        padding: 0px 60px 0px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;

        &.active {
            padding: 0px 60px 20px;
            height: auto;
            max-height: 500px;
        }
    }

    .arrow-button {
        transform: rotate(0deg);
        transition: all 0.5s ease-in-out;

        &.active {
            transform: rotate(180deg);
        }
    }
}

// About 

.about-card {
    @apply m-2;
    &:not(:last-child) {
        @apply mb-16;

        @screen lg {
            @apply mb-2;
        }
    }
}

// Contact

.contact-card {
    &-details {
        @apply relative transition duration-200;
        &:before {
            content: "";
            @apply bg-black absolute opacity-60 top-0 left-0 w-full h-full -z-10 transition duration-200;
        }

        &:nth-child(even) {
            &:before {
                @apply opacity-75;
            }
        }

        &:hover {
            &:before {
                @apply bg-primary opacity-100;
            }
            i {
                @apply text-white;
            }
        }
    }
}

// Loader

.loadMoreButton, .contactFormButton {
    position: relative;
    &.active {
        &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            animation: button .7s infinite ease-in;
        }
    }
}

@keyframes button {
    0% {
        box-shadow: 0 0 0 0px #FF6060;
        opacity: 1;
    }

    100% {
        box-shadow: 0 0 0 20px #FF6060;
        opacity: 0;
    }
}

// Mail 

.mail {
    &__title {
        color: red;
    }
}